
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1028637/pexels-photo-1028637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="container">
   <div class="opening_title">
    <h1><strong>Welcome</strong> to <strong>Cocktail Creator</strong>!</h1>
   </div>
  </div>
</div>



    <div class="cards">
       <% @cocktails.each do |cocktail| %>

        <div class="card-trip">
          <%= cl_image_tag cocktail.photo %>
          <div class="card-trip-infos">
            <div>
              <%= cocktail.name %>
              <%= link_to "Description", cocktail %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

   <div class="text-center">
   <%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-success"  %>
   </div>
