.show_index {
 display:flex;
 justify-content:space-between;
}

.doses_list {
 background-color:white;
 text-align:center;
 width: 300px;
 // margin-top:70px;
 border: 1px solid black;
 // display:flex;
 justify-content:center;
 margin: 30px auto;

}
