// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "button";
@import "image";
@import "banner";

.opening_title {
  color:white;
  padding-top:120px;
  text-align:center;
}
